@import '../variables';
@import '../index';
@import '../mixins';

.header {
  background: white;
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid $tertiaryColor;
  box-shadow: $mediumShadow;
  &__logo {
    width: 30%;
    margin-left: 10px;
  }
  & i {
    font-size: x-large;
    color: $tertiaryColor;
  }
  & h1 {
    text-align: center;
    width: 25%;
    margin: 0;
  }

  &__navBlock {
    width: 33%;
    display: block;
    &--off {
      display: none;
    }
  }
  &__links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
  }
  &__links__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: all 150ms ease-out;
    text-decoration: none;
    & p {
      color: $tertiaryColor;
    }
    &:hover {
      & i,
      p {
        color: lighten($tertiaryColor, 10%);
      }
      transform: scale(1.1);
    }
  }
}
