@import '../variables';
@import '../mixins';
@import '../utils/keyframes';

.fullPost {
  width: 95%;
  max-width: 1000px;
  border: 2px solid $tertiaryColor;
  border-radius: 15px;
  box-shadow: $mediumShadow;
  margin: 20px 0 30px 0;
  transition: all 200ms ease-out;
  overflow: hidden;
  @include xsmobile {
    width: 100%;
    border-radius: 0;
    border: 0px solid black;
  }
  @include mobile {
    width: 100%;
    border-radius: 0;
    border: 0px solid black;
  }
  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 0 4px 0;
    border-top: $dashedBorder;
    font-size: 40px;
    color: $primaryColor;
    @include tablet {
      padding: 0;
    }
    @include xsmobile {
      font-size: 25px;
      padding: 0;
    }
    @include mobile {
      font-size: 30px;
    }
    &__creatorOnly {
      width: fit-content;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      text-align: right;
      @include xsmobile {
        width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: right;
      }
      @include mobile {
        width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: right;
      }
    }
    &__creatorOnly #modifyIcon {
      background-color: transparent;
      margin-right: 15px;
      margin-left: 15px;
      color: $tertiaryColor;
      @include xsmobile {
        margin: 0 5px 0 5px;
      }
      @include mobile {
        margin: 0 5px 0 5px;
      }
      &:hover {
        color: lighten($tertiaryColor, 10%);
        transform: scale(1);
        transition: all 150ms ease-out;
        &:hover {
          cursor: pointer;
          transform: scale(1.15);
        }
      }
    }
    &__creatorOnly #deleteIcon {
      background-color: transparent;
      margin-right: 15px;
      margin-left: 15px;
      color: $primaryColor;
      @include xsmobile {
        margin: 0 5px 0 5px;
      }
      @include mobile {
        margin: 0 5px 0 5px;
      }
      &:hover {
        color: lighten($primaryColor, 10%);
        transform: scale(1);
        transition: all 150ms ease-out;
        &:hover {
          cursor: pointer;
          transform: scale(1.15);
        }
      }
    }
    &__heartBlock {
      display: flex;
      flex-direction: row;
      padding-top: 6px;
      @include xsmobile {
        align-items: center;
        width: 66%;
      }
      @include mobile {
        align-items: center;
      }
      &__icon {
        margin: 10px 20px 0 10px;
        width: 40px;
        height: 40px;
        @include xsmobile {
          width: 25px;
          height: 25px;
          margin: 0 10px 0 10px;
        }
        @include mobile {
          width: 30px;
          height: 30px;
          margin: 0 10px 0 10px;
        }
      }
      &__icon:hover {
        cursor: pointer;
        & .heart-icon {
          & .fa-regular {
            display: none;
          }
          & .fa-solid {
            display: block;
          }
        }
      }
      & .heart-icon {
        color: $primaryColor;
        & .fa-regular {
          color: $primaryColor;
          display: block;
        }
        & .fa-solid {
          display: none;
        }
        & .regularOFF {
          display: none;
        }
        & .solidON {
          display: block;
        }
        transform: scaleX(1);
        transform: scaleY(1);
        transform: translateY(0);
      }
      & p {
        color: $tertiaryColor;
        @include xsmobile {
          margin: 5px 0 0 0;
        }
        @include mobile {
          margin: 5px 0 0 0;
        }
        &:last-child {
          font-style: italic;
          font-weight: 300;
          margin-left: 50px;
          @include xsmobile {
            width: fit-content;
            font-size: 10px;
            margin: 10px 0 0 10px;
          }
          @include mobile {
            margin: 10px 0 0 10px;
            font-size: 12px;
          }
        }
      }
    }
  }
  &__commentsBlock {
    width: 100%;
    border-top: $dashedBorder;
    & textarea {
      margin: 0;
      height: 26px;
      padding: 2px 5px;
      border-bottom: $dashedBorder;
      overflow-y: hidden;
      @include tablet {
        height: 25px;
      }
      @include mobile {
        height: 25px;
        font-size: 16px;
      }
      @include xsmobile {
        height: 24px;
        font-size: 14px;
      }
    }
    &__displayComments {
      width: fit-content;
      font-size: 18px;
      padding: 0 0 5px 10px;
      margin: 5px 0;
      color: $tertiaryColor;
      transition: all 200ms ease-out;
      &__OFF {
        width: fit-content;
        font-size: 18px;
        margin: 5px 0;
        padding: 0 0 5px 10px;
        color: lightgray;
        & p {
          margin: 0;
        }
      }
      & p {
        margin: 0;
        @include mobile {
          font-size: 16px;
        }
        @include xsmobile {
          font-size: 14px;
        }
      }
      & i {
        transform: rotateZ(0deg);
        transition: all 200ms ease-out;
      }
      & :hover {
        cursor: pointer;
        color: lighten($tertiaryColor, 15%);
      }
    }
    &__comments {
      display: none;
      transform: scaleY(0);
      transform-origin: top;
      transition: all 250ms ease-out;
      &__unique {
        border-top: $dashedBorder;
        display: flex;
        flex-direction: column;
        &__userProfile {
          display: flex;
          flex-direction: row;
          background-color: $tertiaryColor;
          border-radius: 0 0 50% 0;
          &__pic {
            margin: 5px 5px 5px 5px;
            border-radius: 50%;
            box-shadow: $veryLightShadow;
            width: 50px;
            height: 50px;
            object-fit: cover;
            @include mobile {
              margin: 10px 5px 10px 5px;
              width: 35px;
              height: 35px;
            }
            @include xsmobile {
              margin: 10px 5px 10px 5px;
              width: 30px;
              height: 30px;
            }
          }
          &__name {
            margin-left: 10px;
            color: white;
            align-self: center;
            @include mobile {
              margin-left: 5px;
              font-size: 16px;
            }
            @include xsmobile {
              margin-left: 5px;
              font-size: 14px;
            }
          }
          &__date {
            font-style: italic;
            font-weight: 300;
            margin-left: 20px;
            color: lightgrey;
            align-self: center;
            @include mobile {
              margin-left: 10px;
              font-size: 13px;
            }
            @include xsmobile {
              margin-left: 10px;
              font-size: 12px;
            }
          }
        }
        &__commentText {
          border-top: $dashedBorder;
          margin: 0px 5px 5px 5px;
          @include mobile {
            font-size: 16px;
          }
          @include xsmobile {
            font-size: 14px;
          }
        }
      }
    }
  }
}
.postCard {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
  &__user {
    width: 100%;
    text-align: left;
    margin: 0;
    overflow: hidden;
    &__profile {
      width: 100%;
      background: $tertiaryColor;
      border-radius: 0 0 50% 0;
      box-shadow: $lightShadow;
      overflow: hidden;
      &__pic {
        margin: 10px 0 10px 20px;
        width: 80px;
        height: 80px;
        @include xsmobile {
          width: 50px;
          height: 50px;
        }
        @include mobile {
          width: 60px;
          height: 60px;
        }
        object-fit: cover;
        border: 1px solid grey;
        border-radius: 50%;
        box-shadow: $lightShadow;
      }
    }
    &__desc {
      width: fit-content;
      border-bottom: 2px solid $secondaryColor;
      &__name {
        margin: 10px 0 0 10px;
        font-size: x-large;
        @include xsmobile {
          font-size: large;
        }
        @include mobile {
          font-size: larger;
        }
      }
      &__sector {
        margin: 5px 0 0 10px;
        font-size: large;
        @include xsmobile {
          font-size: small;
        }
        @include mobile {
          font-size: medium;
        }
      }
    }
  }
  &__image {
    border-top: $dashedBorder;
    width: 100%;
    padding-top: 50%;
    overflow: hidden;
    position: relative;
    background-color: lighten($secondaryColor, 5%);
    cursor: pointer;
    transition: all 200ms;
    &:hover {
      opacity: 0.85;
    }
    &__off {
      display: none;
    }
    & img {
      width: 100%;
      object-fit: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  & .zoom {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    padding-top: 5px;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    &__content {
      margin: auto;
      display: block;
      width: 100%;
      max-width: 1300px;
      animation: zoom 400ms;
    }
    &__close {
      position: absolute;
      top: 15px;
      left: 5px;
      color: white;
      font-size: 28px;
      transition: all 200ms;
      @include tablet {
        top: 95vh;
        font-size: 25px;
      }
      @include mobile {
        top: 95vh;
        font-size: 20px;
      }
      @include xsmobile {
        top: 95vh;
        font-size: 18px;
      }
      & i {
        color: $tertiaryColor;
        margin-right: 10px;
        transition: all 200ms;
      }
      &:hover,
      &:focus {
        & i {
          color: lighten($color: $tertiaryColor, $amount: 15);
        }
        color: lightgray;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  &__text {
    margin: 15px;
    font-size: large;
    @include xsmobile {
      font-size: small;
    }
    @include mobile {
      font-size: medium;
    }
  }
}
