@import '../variables';
@import '../index';
@import '../mixins';
@import '../utils/keyframes';

.fullPost {
  margin: 20px 0 30px 0;
  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0 0 15px;
    font-size: 40px;
    color: $primaryColor;
    &__creatorOnly i {
      background-color: transparent;
      margin-right: 15px;
      margin-left: 15px;
      &:first-child {
        color: $tertiaryColor;
      }
    }
    & i {
      transform: scale(1);
      transition: all 150ms ease-out;
      &:hover {
        cursor: pointer;
        transform: scale(1.15);
      }
    }
    & .heart-icon {
      color: $primaryColor;
      width: 40px;
      height: 40px;
      position: relative;
      & p {
        color: $tertiaryColor;
        position: relative;
        left: 50px;
      }
      & .fa-regular {
        position: absolute;
        top: 0;
        z-index: 1;
        background: white;
      }
      & .fa-solid {
        position: absolute;
        top: 1px;
        opacity: 1;
        background: $primaryColor;
        z-index: 5;
        -webkit-background-clip: text; /* to fit the background on the icon only */
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transform-origin: bottom;
        transform: scale(1, 0) rotateY(90deg);
      }
      &:hover {
        cursor: pointer;
        & .fa-solid {
          animation: heart-fill 300ms 0ms ease-in-out both;
        }
      }
    }
  }
}
.postCard {
  max-width: 900px;
  border: 2px solid $tertiaryColor;
  border-radius: 15px;
  box-shadow: $mediumShadow;
  background: white;
  overflow: hidden;
  &__user {
    width: fit-content;
    text-align: left;
    margin: 15px;
    border-bottom: 2px solid $secondaryColor;
    &__profilePic {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: $lightShadow;
      transform: scale(1);
      transition: all 150ms ease-out;
      &:hover {
        cursor: pointer;
        box-shadow: $mediumShadow;
        transform: scale(1.08);
      }
    }
  }
  &__image {
    border-top: 1px solid $tertiaryColor;
    height: 500px;
    overflow: hidden;
    position: relative;
    background-color: lighten($secondaryColor, 5%);
    & img {
      width: 100%;
      object-fit: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__text {
    text-align: justify;
    margin: 15px;
    font-size: large;
  }
}
