@import '../variables';
@import '../mixins';

#fullPost-postBlock {
  background: lighten($tertiaryColor, 60%);
}
.postBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &__textarea {
    resize: none;
    width: 100%;
    border: 0px solid grey;
    outline: none;
    background: lighten($secondaryColor, 6%);
    margin: 10px 0 0 0;
    padding: 0 5px;
    font-family: 'Lato';
    font-size: large;
    @include xsmobile {
      font-size: small;
    }
    @include mobile {
      font-size: medium;
    }
  }
  &__buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: $dashedBorder;
    #image {
      display: none;
      border-radius: 50%;
    }
    &__imageLabel {
      & i {
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 50px;
        @include xsmobile {
          font-size: 20px;
          width: 75px;
          height: 37px;
        }
        @include mobile {
          font-size: 25px;
          width: 80px;
          height: 40px;
        }
      }
      margin: 10px 0;
      text-align: center;
      background: $tertiaryColor;
      color: white;
      border: 0px solid black;
      border-radius: 50px;
      box-shadow: $mediumShadow;
      transform: scale(1);
      transition: all 150ms ease-out;
      cursor: pointer;
      &:hover {
        color: $secondaryColor;
        transform: scale(1.1);
        background: lighten($tertiaryColor, 10%);
      }
    }
    & .button.unlocked {
      margin: 0;
      padding: 0 15px;
      width: fit-content;
      height: 50px;
    }
    & #post {
      height: 50px;
      @include xsmobile {
        height: 37px;
      }
      @include mobile {
        height: 40px;
      }
    }
    & input:last-child:hover {
      background: $primaryColor;
    }
  }

  & .previewBlock {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

#cancelButton {
  display: none;
}
.picturePreview {
  width: 100%;
  padding-top: 50%;
  overflow: hidden;
  position: relative;
  background-color: lighten($secondaryColor, 5%);
  border-top: $dashedBorder;
  display: none;
}

#imagePreview {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
