@import '../variables';
@import '../mixins';

.profilePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 8vh;
  height: 95vh;
  &__form {
    margin: 30px 0;
    width: 66%;
    border: 2px solid $tertiaryColor;
    border-radius: 15px;
    box-shadow: $mediumShadow;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__form-inputs {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-top: 2px dashed $secondaryColor;
      margin: 0 0 30px 0;
      & .left-inputs,
      .right-inputs {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: x-large;
      }
    }
    &__picBlock {
      width: 100%;
      border-radius: 0 0 50% 0;
      background: $tertiaryColor;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      &__sector {
        font-size: 30px;
        color: white;
        width: 33%;
      }
      &__names {
        font-size: 40px;
        width: 33%;
        color: white;
      }
      &__icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 33%;
        #image {
          display: none;
          border-radius: 50%;
        }
        &__imageLabel {
          & i {
            font-size: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 75px;
          }
          &__image {
            width: 175px;
            height: 175px;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: $mediumShadow;
          }
          margin: 10px 0;
          transition: all 150ms ease-out;
          cursor: pointer;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }

  & .buttons {
    width: 66%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    & #update,
    #delete {
      margin: 25px 0 25px 0;
      font-size: 20px;
      position: relative;
    }
    & #delete:hover {
      background: $primaryColor;
    }
  }
}
