@import '../variables';
@import '../mixins';

.updatePostPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 5vh;
  height: 95vh;
}

#imageLabel > i {
  @include mobile {
    width: 75px;
    height: 37px;
    font-size: 20px;
  }
}

#post,
#cancelButton {
  @include mobile {
    font-size: small;
    height: 37px;
  }
}
