//colors

$primaryColor: #fd2d01;
$secondaryColor: #ffd7d7;
$tertiaryColor: #4e5166;
$lightShadow: 0px 2px 10px -2px grey, 0px 2px 10px -2px grey;
$mediumShadow: 0px 5px 20px -5px grey, 0px 5px 20px -5px grey;
