@import './variables';
@import './index';
@import './mixins';
@import './layout/header';
@import './layout/footer';
@import './components/login';
@import './components/postCard';
@import './components/postBlock';
@import './components/updatePost';
@import './pages/modifyProfile';

.maincontent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.maintitle {
  text-align: center;
  margin: 0 0 10px 0;
  @include xsmobile {
    font-size: medium;
  }
  @include mobile {
    font-size: larger;
  }
}

.body {
  height: 95vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  text-align: center;
  width: 250px;
  height: 75px;
  font-size: 25px;
  background: $tertiaryColor;
  color: white;
  margin: 25px;
  border: 0px solid black;
  border-radius: 50px;
  box-shadow: $mediumShadow;
  position: absolute;
  bottom: 0;
  transform: scale(1);
  transition: all 150ms ease-out;
  @include tablet {
    width: 200px;
    height: 60px;
    font-size: 20px;
  }
  @include xsmobile {
    width: 150px;
    height: 45px;
    font-size: 16px;
  }
  @include mobile {
    width: 175px;
    height: 53px;
    font-size: 16px;
  }
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    background: lighten($tertiaryColor, 10%);
  }
}

.unlocked {
  position: relative;
}

.loginLogo {
  width: 33%;
  @include tablet {
    width: 50%;
  }
  @include mobile {
    width: 50%;
  }
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 7vh;
}

.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 95vh;
  padding-top: 7vh;
  & img {
    width: 50%;
  }
  &__link {
    text-decoration: none;
    color: $tertiaryColor;
    &:hover {
      color: lighten($tertiaryColor, 10%);
      text-decoration: underline;
    }
  }
}
