@import './variables';
@import './index';
@import './mixins';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  border-bottom: 2px solid #808080;
  box-shadow: 0 6px 10px grey;
  &__logo {
    max-width: 700px;
    @include mobile {
      max-width: 300px;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 100%;
  border-top: 2px solid grey;
  box-shadow: 0 -3px 5px grey;
  margin-top: 50px;
  &__logo {
    width: 40%;
    margin: 5px;
  }
  & i {
    color: $tertiaryColor;
    margin-right: 10px;
  }
}

#errorMessage {
  color: red;
}

.mailto {
  margin: 0 30px 0 0;
  text-decoration: none;
  font-size: large;
  color: black;
  &:hover {
    color: lighten($tertiaryColor, 10%);
    text-decoration-line: underline;
  }
}

.maintitle {
  text-align: center;
  font-size: 42px;
  font-weight: 900;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 6px 10px grey;
  width: 70%;
  height: 700px;
  margin-bottom: 20px;
  position: relative;
}

.tabs-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  box-shadow: 0 2px 3px grey;
  background: $secondaryColor;
  color: grey;
  font-size: large;
  cursor: pointer;
  transition: all 200ms ease-out;
}

.active-tabs {
  background: $tertiaryColor;
  color: white;
  width: 60%;
  font-size: xx-large;
}
.forms-block {
  width: 100%;
  margin: 20px 0;
}
.connection-form {
  width: 100%;
  display: none;
}

.active-form {
  width: 100%;
  display: block;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textarea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  width: 50%;
  border-radius: 10px;
}

input {
  outline: none;
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: 0 2px 3px grey;
  height: 25px;
  font-size: large;
  text-align: center;
  background: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  text-align: center;
  width: 250px;
  height: 75px;
  font-size: 25px;
  background: $tertiaryColor;
  color: white;
  margin: 25px;
  border: 0px solid black;
  border-radius: 50px;
  box-shadow: 0 5px 7px grey;
  position: absolute;
  bottom: 0;
  transform: scale(1);
  transition: all 150ms ease-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    background: lighten($tertiaryColor, 10%);
  }
}

.link {
  text-align: center;
  text-decoration: none;
  color: $primaryColor;
}

.link:hover {
  color: $tertiaryColor;
}
