* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  font-family: "Lato";
  font-size: 30px;
  color: #4e5166;
  font-weight: 900;
  text-align: center;
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 374px) {
  h1 {
    font-size: 22px;
  }
}

p {
  font-size: 18px;
}

.navMenu {
  position: fixed;
  z-index: 10;
  background: #4e5166;
  width: 100%;
  height: 6vh;
  border-radius: 0 0 40% 40%;
  box-shadow: 0px 2px 10px -2px grey, 0px 2px 10px -2px grey;
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .navMenu {
    height: 5vh;
  }
}
@media screen and (max-width: 374px) {
  .navMenu {
    height: 5vh;
  }
}
.navMenu__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.navMenu__icons__link {
  margin-top: 8px;
  text-align: center;
}
@media screen and (min-width: 769px) and (max-width: 900px) {
  .navMenu__icons__link {
    margin-top: 10px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .navMenu__icons__link {
    margin-top: 7px;
  }
}
.navMenu__icons__link i {
  font-size: 30px;
  color: white;
  transform: scale(1);
  transition: all 150ms ease-out;
}
@media screen and (max-width: 374px) {
  .navMenu__icons__link i {
    font-size: 18px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .navMenu__icons__link i {
    font-size: 20px;
  }
}
.navMenu__icons__link i:hover {
  color: #ffd7d7;
  transform: scale(1.15);
}

footer {
  background: #4e5166;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6vh;
  border-top: 2px solid #4e5166;
  border-radius: 50% 50% 0 0;
  box-shadow: 0 -3px 5px grey;
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  footer {
    height: 5vh;
  }
}
@media screen and (max-width: 374px) {
  footer {
    height: 5vh;
  }
}
footer .footer-logo {
  width: 33%;
  display: flex;
  justify-content: center;
}
footer .footer-logo__img {
  width: 35px;
  height: 35px;
  margin-top: 5px;
}
@media screen and (max-width: 374px) {
  footer .footer-logo__img {
    width: 15px;
    height: 15px;
  }
}
@media screen and (min-width: 769px) and (max-width: 900px) {
  footer .footer-logo__img {
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  footer .footer-logo__img {
    width: 20px;
    height: 20px;
  }
}
footer p {
  color: white;
  width: 33%;
  font-family: "Lato";
  font-size: 16px;
  text-align: center;
}
@media screen and (max-width: 374px) {
  footer p {
    font-size: 10px;
    width: 40%;
  }
}
@media screen and (min-width: 769px) and (max-width: 900px) {
  footer p {
    font-size: 14px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  footer p {
    font-size: 12px;
  }
}
footer i {
  margin-right: 10px;
}
@media screen and (max-width: 374px) {
  footer i {
    margin-right: 3px;
  }
}
footer .mailto {
  width: 33%;
  margin-right: 15px;
  text-align: center;
  text-decoration: none;
}
@media screen and (max-width: 374px) {
  footer .mailto {
    margin-right: 3px;
  }
}
footer .mailto a {
  font-size: large;
  color: white;
}
@media screen and (max-width: 374px) {
  footer .mailto a {
    font-size: 10px;
  }
}
@media screen and (min-width: 769px) and (max-width: 900px) {
  footer .mailto a {
    font-size: medium;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  footer .mailto a {
    font-size: 12px;
  }
}
footer .mailto a:hover {
  color: #ffd7d7;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  font-family: "Lato";
  font-size: 30px;
  color: #4e5166;
  font-weight: 900;
  text-align: center;
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 374px) {
  h1 {
    font-size: 22px;
  }
}

p {
  font-size: 18px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 5px 20px -5px grey, 0px 5px 20px -5px grey;
  width: 70%;
  height: 750px;
  position: relative;
}
@media screen and (min-width: 769px) and (max-width: 900px) {
  .login {
    width: 90%;
  }
}
@media screen and (max-width: 374px) {
  .login {
    width: 100%;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .login {
    width: 100%;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }
}

.tabs-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  box-shadow: 0px 2px 10px -2px grey, 0px 2px 10px -2px grey;
  background: #ffd7d7;
  color: grey;
  font-size: large;
  cursor: pointer;
  transition: all 200ms ease-out;
}
@media screen and (max-width: 374px) {
  .tabs {
    font-size: small;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .tabs {
    font-size: medium;
  }
}

.active-tabs {
  background: #4e5166;
  color: white;
  width: 60%;
  font-size: xx-large;
}
@media screen and (max-width: 374px) {
  .active-tabs {
    font-size: larger;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .active-tabs {
    font-size: larger;
  }
}

.forms-block {
  width: 100%;
  height: 100%;
}

.connection-form {
  width: 100%;
  display: none;
}

.active-form {
  width: 100%;
  height: 100%;
  display: block;
}

.signup-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.signup-inputs .form-inputs {
  width: 66%;
}
@media screen and (min-width: 769px) and (max-width: 900px) {
  .signup-inputs {
    margin-top: 10px;
    height: 90%;
  }
}
@media screen and (max-width: 374px) {
  .signup-inputs {
    margin-top: 30px;
    height: 90%;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .signup-inputs {
    margin-top: 20px;
    height: 90%;
  }
}

.form-inputs {
  height: 80%;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 769px) and (max-width: 900px) {
  .form-inputs {
    font-size: large;
  }
}
@media screen and (max-width: 374px) {
  .form-inputs {
    font-size: small;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .form-inputs {
    font-size: medium;
  }
}

.textarea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 70%;
  border-radius: 10px;
}

input {
  outline: none;
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: 0px 2px 10px -2px grey, 0px 2px 10px -2px grey;
  height: 25px;
  font-size: large;
  text-align: center;
  background: none;
}
@media screen and (max-width: 374px) {
  input {
    font-size: small;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  input {
    font-size: medium;
  }
}

label {
  margin-top: 30px;
}
@media screen and (max-width: 374px) {
  label {
    margin-top: 20px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  label {
    margin-top: 20px;
  }
}

.firstProfilePic {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 100px;
  justify-content: space-evenly;
  align-items: center;
  width: 33%;
  height: 66%;
}
@media screen and (max-width: 374px) {
  .firstProfilePic {
    width: 30%;
    height: 40%;
  }
  .firstProfilePic span {
    font-size: 12px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .firstProfilePic {
    width: 30%;
    height: 40%;
  }
  .firstProfilePic span {
    font-size: 12px;
  }
}
.firstProfilePic p {
  font-size: x-large;
  margin: 0;
  text-align: center;
}
@media screen and (min-width: 769px) and (max-width: 900px) {
  .firstProfilePic p {
    font-size: large;
  }
}
@media screen and (max-width: 374px) {
  .firstProfilePic p {
    font-size: small;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .firstProfilePic p {
    font-size: medium;
  }
}
.firstProfilePic__button {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.firstProfilePic__button #image {
  display: none;
}
.firstProfilePic__button__label {
  margin: 0;
  width: 200px;
  height: 200px;
  text-align: center;
  border: 0px solid black;
  border-radius: 50%;
  transform: scale(1);
  transition: all 150ms ease-out;
  cursor: pointer;
}
.firstProfilePic__button__label img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 5px 20px -5px grey, 0px 5px 20px -5px grey;
}
@media screen and (min-width: 769px) and (max-width: 900px) {
  .firstProfilePic__button__label img {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 374px) {
  .firstProfilePic__button__label img {
    width: 75px;
    height: 75px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .firstProfilePic__button__label img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 769px) and (max-width: 900px) {
  .firstProfilePic__button__label {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 374px) {
  .firstProfilePic__button__label {
    width: 75px;
    height: 75px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .firstProfilePic__button__label {
    width: 100px;
    height: 100px;
  }
}
.firstProfilePic__button__label:hover {
  transform: scale(1.1);
}

.sectorSelect {
  border: 2px solid grey;
  border-radius: 10px;
  width: 70%;
  height: 30px;
  box-shadow: 0px 2px 10px -2px grey, 0px 2px 10px -2px grey;
  overflow: hidden;
  background-color: #fff;
  background: #fff;
  position: relative;
}

.sectorSelect select {
  padding-top: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lato";
  font-size: large;
  width: 100%;
  border: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media screen and (max-width: 374px) {
  .sectorSelect select {
    font-size: small;
    padding-top: 5px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .sectorSelect select {
    padding-top: 3px;
    font-size: medium;
  }
}

.sectorSelect:after {
  top: 45%;
  left: 95%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 5px;
  z-index: 100;
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .sectorSelect:after {
    top: 40%;
    left: 90%;
  }
}
@media screen and (max-width: 374px) {
  .sectorSelect:after {
    top: 48%;
    left: 90%;
    border-width: 4px;
  }
}

.sectorSelect select:focus {
  outline: none;
}

@-webkit-keyframes heart-click {
  0% {
    transform: scaleX(1) scaleY(1) translateY(0);
  }
  33% {
    transform: scaleX(1.33) scaleY(0.4) translateY(-30px);
  }
  45% {
    transform: scaleX(1) scaleY(1) translateY(0);
  }
  60% {
    transform: translateY(-4px);
  }
  72% {
    transform: translateY(0);
  }
  87% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes heart-click {
  0% {
    transform: scaleX(1) scaleY(1) translateY(0);
  }
  33% {
    transform: scaleX(1.33) scaleY(0.4) translateY(-30px);
  }
  45% {
    transform: scaleX(1) scaleY(1) translateY(0);
  }
  60% {
    transform: translateY(-4px);
  }
  72% {
    transform: translateY(0);
  }
  87% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.fullPost {
  width: 95%;
  max-width: 1000px;
  border: 2px solid #4e5166;
  border-radius: 15px;
  box-shadow: 0px 5px 20px -5px grey, 0px 5px 20px -5px grey;
  margin: 20px 0 30px 0;
  overflow: hidden;
}
@media screen and (max-width: 374px) {
  .fullPost {
    width: 100%;
    border-radius: 0;
    border: 0px solid black;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .fullPost {
    width: 100%;
    border-radius: 0;
    border: 0px solid black;
  }
}
.fullPost__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px 0 4px 0;
  border-top: 2px dashed #ffd7d7;
  font-size: 40px;
  color: #fd2d01;
}
@media screen and (min-width: 769px) and (max-width: 900px) {
  .fullPost__icons {
    padding: 0;
  }
}
@media screen and (max-width: 374px) {
  .fullPost__icons {
    font-size: 25px;
    padding: 0;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .fullPost__icons {
    font-size: 30px;
  }
}
.fullPost__icons__creatorOnly {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: right;
}
@media screen and (max-width: 374px) {
  .fullPost__icons__creatorOnly {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: right;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .fullPost__icons__creatorOnly {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: right;
  }
}
.fullPost__icons__creatorOnly #modifyIcon {
  background-color: transparent;
  margin-right: 15px;
  margin-left: 15px;
  color: #4e5166;
}
@media screen and (max-width: 374px) {
  .fullPost__icons__creatorOnly #modifyIcon {
    margin: 0 5px 0 5px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .fullPost__icons__creatorOnly #modifyIcon {
    margin: 0 5px 0 5px;
  }
}
.fullPost__icons__creatorOnly #modifyIcon:hover {
  color: #646883;
  transform: scale(1);
  transition: all 150ms ease-out;
}
.fullPost__icons__creatorOnly #modifyIcon:hover:hover {
  cursor: pointer;
  transform: scale(1.15);
}
.fullPost__icons__creatorOnly #deleteIcon {
  background-color: transparent;
  margin-right: 15px;
  margin-left: 15px;
  color: #fd2d01;
}
@media screen and (max-width: 374px) {
  .fullPost__icons__creatorOnly #deleteIcon {
    margin: 0 5px 0 5px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .fullPost__icons__creatorOnly #deleteIcon {
    margin: 0 5px 0 5px;
  }
}
.fullPost__icons__creatorOnly #deleteIcon:hover {
  color: #fe5633;
  transform: scale(1);
  transition: all 150ms ease-out;
}
.fullPost__icons__creatorOnly #deleteIcon:hover:hover {
  cursor: pointer;
  transform: scale(1.15);
}
.fullPost__icons__heartBlock {
  display: flex;
  flex-direction: row;
  padding-top: 6px;
}
@media screen and (max-width: 374px) {
  .fullPost__icons__heartBlock {
    align-items: center;
    width: 66%;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .fullPost__icons__heartBlock {
    align-items: center;
  }
}
.fullPost__icons__heartBlock__icon {
  margin: 10px 20px 0 10px;
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 374px) {
  .fullPost__icons__heartBlock__icon {
    width: 25px;
    height: 25px;
    margin: 0 10px 0 10px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .fullPost__icons__heartBlock__icon {
    width: 30px;
    height: 30px;
    margin: 0 10px 0 10px;
  }
}
.fullPost__icons__heartBlock__icon:hover {
  cursor: pointer;
}
.fullPost__icons__heartBlock__icon:hover .heart-icon .fa-regular {
  display: none;
}
.fullPost__icons__heartBlock__icon:hover .heart-icon .fa-solid {
  display: block;
}
.fullPost__icons__heartBlock .heart-icon {
  color: #fd2d01;
  transform: scaleX(1);
  transform: scaleY(1);
  transform: translateY(0);
}
.fullPost__icons__heartBlock .heart-icon .fa-regular {
  color: #fd2d01;
  display: block;
}
.fullPost__icons__heartBlock .heart-icon .fa-solid {
  display: none;
}
.fullPost__icons__heartBlock .heart-icon .regularOFF {
  display: none;
}
.fullPost__icons__heartBlock .heart-icon .solidON {
  display: block;
}
.fullPost__icons__heartBlock p {
  color: #4e5166;
}
@media screen and (max-width: 374px) {
  .fullPost__icons__heartBlock p {
    margin: 5px 0 0 0;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .fullPost__icons__heartBlock p {
    margin: 5px 0 0 0;
  }
}
.fullPost__icons__heartBlock p:last-child {
  font-style: italic;
  font-weight: 300;
  margin-left: 50px;
}
@media screen and (max-width: 374px) {
  .fullPost__icons__heartBlock p:last-child {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 10px;
    margin: 10px 0 0 10px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .fullPost__icons__heartBlock p:last-child {
    margin: 10px 0 0 10px;
    font-size: 12px;
  }
}

.postCard {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
}
.postCard__user {
  width: 100%;
  text-align: left;
  margin: 0;
  overflow: hidden;
}
.postCard__user__profile {
  width: 100%;
  background: #4e5166;
  border-radius: 0 0 50% 0;
  box-shadow: 0px 2px 10px -2px grey, 0px 2px 10px -2px grey;
  overflow: hidden;
}
.postCard__user__profile__pic {
  margin: 10px 0 10px 20px;
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid grey;
  border-radius: 50%;
  box-shadow: 0px 2px 10px -2px grey, 0px 2px 10px -2px grey;
}
@media screen and (max-width: 374px) {
  .postCard__user__profile__pic {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .postCard__user__profile__pic {
    width: 60px;
    height: 60px;
  }
}
.postCard__user__desc {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 2px solid #ffd7d7;
}
.postCard__user__desc__name {
  margin: 10px 0 0 10px;
  font-size: x-large;
}
@media screen and (max-width: 374px) {
  .postCard__user__desc__name {
    font-size: large;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .postCard__user__desc__name {
    font-size: larger;
  }
}
.postCard__user__desc__sector {
  margin: 5px 0 0 10px;
  font-size: large;
}
@media screen and (max-width: 374px) {
  .postCard__user__desc__sector {
    font-size: small;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .postCard__user__desc__sector {
    font-size: medium;
  }
}
.postCard__image {
  border-top: 2px dashed #ffd7d7;
  width: 100%;
  padding-top: 50%;
  overflow: hidden;
  position: relative;
  background-color: #fff1f1;
  cursor: pointer;
  transition: all 200ms;
}
.postCard__image:hover {
  opacity: 0.85;
}
.postCard__image__off {
  display: none;
}
.postCard__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.postCard .zoom {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding-top: 5px;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}
.postCard .zoom__content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 1300px;
  -webkit-animation: zoom 400ms;
          animation: zoom 400ms;
}
.postCard .zoom__close {
  position: absolute;
  top: 15px;
  left: 5px;
  color: white;
  font-size: 28px;
  transition: all 200ms;
}
@media screen and (min-width: 769px) and (max-width: 900px) {
  .postCard .zoom__close {
    top: 95vh;
    font-size: 25px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .postCard .zoom__close {
    top: 95vh;
    font-size: 20px;
  }
}
@media screen and (max-width: 374px) {
  .postCard .zoom__close {
    top: 95vh;
    font-size: 18px;
  }
}
.postCard .zoom__close i {
  color: #4e5166;
  margin-right: 10px;
  transition: all 200ms;
}
.postCard .zoom__close:hover, .postCard .zoom__close:focus {
  color: lightgray;
  text-decoration: none;
  cursor: pointer;
}
.postCard .zoom__close:hover i, .postCard .zoom__close:focus i {
  color: #6f7491;
}
.postCard__text {
  margin: 15px;
  font-size: large;
}
@media screen and (max-width: 374px) {
  .postCard__text {
    font-size: small;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .postCard__text {
    font-size: medium;
  }
}

#fullPost-postBlock {
  background: #f1f2f5;
}

.postBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.postBlock__textarea {
  resize: none;
  width: 100%;
  border: 0px solid grey;
  outline: none;
  background: #fff6f6;
  margin: 10px 0 0 0;
  padding: 0 5px;
  font-family: "Lato";
  font-size: large;
}
@media screen and (max-width: 374px) {
  .postBlock__textarea {
    font-size: small;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .postBlock__textarea {
    font-size: medium;
  }
}
.postBlock__buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 2px dashed #ffd7d7;
}
.postBlock__buttons #image {
  display: none;
  border-radius: 50%;
}
.postBlock__buttons__imageLabel {
  margin: 10px 0;
  text-align: center;
  background: #4e5166;
  color: white;
  border: 0px solid black;
  border-radius: 50px;
  box-shadow: 0px 5px 20px -5px grey, 0px 5px 20px -5px grey;
  transform: scale(1);
  transition: all 150ms ease-out;
  cursor: pointer;
}
.postBlock__buttons__imageLabel i {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
}
@media screen and (max-width: 374px) {
  .postBlock__buttons__imageLabel i {
    font-size: 20px;
    width: 55px;
    height: 25px;
    padding-top: 1px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .postBlock__buttons__imageLabel i {
    font-size: 25px;
    width: 80px;
    height: 40px;
  }
}
.postBlock__buttons__imageLabel:hover {
  color: #ffd7d7;
  transform: scale(1.1);
  background: #646883;
}
.postBlock__buttons .button.unlocked {
  margin: 0;
  padding: 0 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
}
.postBlock__buttons #post {
  height: 50px;
}
@media screen and (max-width: 374px) {
  .postBlock__buttons #post {
    height: 25px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .postBlock__buttons #post {
    height: 40px;
  }
}
.postBlock__buttons input:last-child:hover {
  background: #fd2d01;
}
.postBlock .previewBlock {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#cancelButton {
  display: none;
}

.picturePreview {
  width: 100%;
  padding-top: 50%;
  overflow: hidden;
  position: relative;
  background-color: #fff1f1;
  border-top: 2px dashed #ffd7d7;
  display: none;
}

#imagePreview {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.updateBlock {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding-top: 5px;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}
.updateBlock .fullPost {
  -webkit-animation: zoom 400ms;
          animation: zoom 400ms;
}
.updateBlock .postCard__user__desc {
  color: black;
}
.updateBlock .picturePreview {
  width: 100%;
  padding-top: 50%;
  overflow: hidden;
  position: relative;
  background-color: #fff1f1;
  border-top: 2px dashed #ffd7d7;
}
.updateBlock .imagePreview {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.updateBlock .image {
  display: none;
  border-radius: 50%;
}
@media screen and (max-width: 374px) {
  .updateBlock .postBlock__buttons__imageLabel > i {
    width: 45px;
    height: 25px;
    font-size: 20px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .updateBlock .postBlock__buttons__imageLabel > i {
    width: 75px;
    height: 37px;
    font-size: 20px;
  }
}
@media screen and (max-width: 374px) {
  .updateBlock .button.unlocked {
    font-size: 14px;
    height: 25px;
    padding: 0 8px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .updateBlock .button.unlocked {
    font-size: small;
    height: 37px;
  }
}

.profilePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 8vh;
  height: 94vh;
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .profilePage {
    height: 95vh;
  }
}
@media screen and (max-width: 374px) {
  .profilePage {
    height: 95vh;
  }
}
.profilePage .confirmMessage {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 25px;
  text-align: center;
  font-size: 20px;
}
.profilePage__form {
  margin: 30px 0;
  width: 80%;
  border: 2px solid #4e5166;
  border-radius: 15px;
  box-shadow: 0px 5px 20px -5px grey, 0px 5px 20px -5px grey;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 769px) and (max-width: 900px) {
  .profilePage__form {
    width: 90%;
  }
}
@media screen and (max-width: 374px) {
  .profilePage__form {
    width: 100%;
    border: 0 solid black;
    border-radius: 0;
    margin: 0;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .profilePage__form {
    width: 100%;
    border: 0 solid black;
    border-radius: 0;
    margin: 0;
  }
}
.profilePage__form__form-inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 2px dashed #ffd7d7;
  margin: 0 0 30px 0;
}
@media screen and (max-width: 374px) {
  .profilePage__form__form-inputs {
    margin: 0;
    height: 300px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .profilePage__form__form-inputs {
    margin: 0;
  }
}
@media screen and (max-width: 374px) {
  .profilePage__form__form-inputs .right-inputs {
    margin-bottom: 10px;
  }
}
.profilePage__form__form-inputs .left-inputs,
.profilePage__form__form-inputs .right-inputs {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
@media screen and (max-width: 374px) {
  .profilePage__form__form-inputs .left-inputs,
.profilePage__form__form-inputs .right-inputs {
    font-size: 12px;
    height: 100%;
  }
  .profilePage__form__form-inputs .left-inputs .textarea > input,
.profilePage__form__form-inputs .left-inputs select,
.profilePage__form__form-inputs .right-inputs .textarea > input,
.profilePage__form__form-inputs .right-inputs select {
    font-size: small;
  }
  .profilePage__form__form-inputs .left-inputs select,
.profilePage__form__form-inputs .right-inputs select {
    margin: 0;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .profilePage__form__form-inputs .left-inputs,
.profilePage__form__form-inputs .right-inputs {
    font-size: small;
  }
  .profilePage__form__form-inputs .left-inputs .textarea > input,
.profilePage__form__form-inputs .left-inputs select,
.profilePage__form__form-inputs .right-inputs .textarea > input,
.profilePage__form__form-inputs .right-inputs select {
    font-size: small;
  }
}
.profilePage__form__form-inputs .left-inputs .textarea > label,
.profilePage__form__form-inputs .right-inputs .textarea > label {
  width: 100%;
}
.profilePage__form__picBlock {
  width: 100%;
  border-radius: 0 0 50% 0;
  background: #4e5166;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.profilePage__form__picBlock__sector {
  font-size: 30px;
  color: white;
  width: 33%;
}
@media screen and (max-width: 374px) {
  .profilePage__form__picBlock__sector {
    font-size: 12px;
  }
}
@media screen and (min-width: 769px) and (max-width: 900px) {
  .profilePage__form__picBlock__sector {
    font-size: 22px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .profilePage__form__picBlock__sector {
    font-size: 14px;
  }
}
.profilePage__form__picBlock__names {
  font-size: 40px;
  width: 33%;
  color: white;
}
@media screen and (max-width: 374px) {
  .profilePage__form__picBlock__names {
    font-size: 16px;
  }
}
@media screen and (min-width: 769px) and (max-width: 900px) {
  .profilePage__form__picBlock__names {
    font-size: 30px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .profilePage__form__picBlock__names {
    font-size: 20px;
  }
}
.profilePage__form__picBlock__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 33%;
}
.profilePage__form__picBlock__icons #image {
  display: none;
  border-radius: 50%;
}
.profilePage__form__picBlock__icons__imageLabel {
  width: 175px;
  height: 175px;
  margin: 10px 0;
  transition: all 150ms ease-out;
  cursor: pointer;
}
.profilePage__form__picBlock__icons__imageLabel__image {
  width: 175px;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 1px solid grey;
  box-shadow: 0px 2px 10px -2px grey, 0px 2px 10px -2px grey;
}
@media screen and (max-width: 374px) {
  .profilePage__form__picBlock__icons__imageLabel__image {
    width: 75px;
    height: 75px;
  }
}
@media screen and (min-width: 769px) and (max-width: 900px) {
  .profilePage__form__picBlock__icons__imageLabel__image {
    width: 150px;
    height: 150px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .profilePage__form__picBlock__icons__imageLabel__image {
    width: 100px;
    height: 100px;
  }
}
.profilePage__form__picBlock__icons__imageLabel:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 374px) {
  .profilePage #name {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 374px) {
  .profilePage #firstName {
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 374px) {
  .profilePage .sectorSelect {
    margin-bottom: 8px;
  }
}
.profilePage .buttons {
  width: 66%;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 374px) {
  .profilePage .buttons {
    width: 100%;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .profilePage .buttons {
    width: 100%;
  }
}
.profilePage .buttons #update,
.profilePage .buttons #delete {
  margin: 25px 0 25px 0;
  font-size: 20px;
  position: relative;
}
@media screen and (max-width: 374px) {
  .profilePage .buttons #update,
.profilePage .buttons #delete {
    font-size: 10px;
    height: 50px;
    width: 130px;
  }
}
@media screen and (min-width: 769px) and (max-width: 900px) {
  .profilePage .buttons #update,
.profilePage .buttons #delete {
    font-size: 16px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .profilePage .buttons #update,
.profilePage .buttons #delete {
    font-size: 14px;
  }
}
.profilePage .buttons #delete:hover {
  background: #fd2d01;
}
.profilePage #pwdError {
  width: 100%;
  height: 20px;
  text-align: center;
  font-size: 16px;
  color: red;
}
.profilePage .randomBlock {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 20px;
}
@media screen and (max-width: 374px) {
  .profilePage .randomBlock {
    height: 0px;
  }
}

.maincontent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.maintitle {
  text-align: center;
  margin: 0 0 10px 0;
}
@media screen and (max-width: 374px) {
  .maintitle {
    font-size: medium;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .maintitle {
    font-size: larger;
  }
}

.body {
  height: 94vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .body {
    height: 95vh;
  }
}
@media screen and (max-width: 374px) {
  .body {
    height: 95vh;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  text-align: center;
  width: 250px;
  height: 75px;
  font-size: 25px;
  background: #4e5166;
  color: white;
  margin: 25px;
  border: 0px solid black;
  border-radius: 50px;
  box-shadow: 0px 5px 20px -5px grey, 0px 5px 20px -5px grey;
  position: absolute;
  bottom: 0;
  transform: scale(1);
  transition: all 150ms ease-out;
  cursor: pointer;
}
@media screen and (min-width: 769px) and (max-width: 900px) {
  .button {
    width: 200px;
    height: 60px;
    font-size: 20px;
  }
}
@media screen and (max-width: 374px) {
  .button {
    width: 150px;
    height: 45px;
    font-size: 16px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .button {
    width: 175px;
    height: 53px;
    font-size: 16px;
  }
}
.button:hover {
  transform: scale(1.1);
  background: #646883;
}

.unlocked {
  position: relative;
}

.loginLogo {
  width: 33%;
}
@media screen and (min-width: 769px) and (max-width: 900px) {
  .loginLogo {
    width: 50%;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .loginLogo {
    width: 50%;
  }
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 7vh;
}

.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 95vh;
  padding-top: 7vh;
}
.errorPage img {
  width: 50%;
}
.errorPage__link {
  text-decoration: none;
  color: #4e5166;
}
.errorPage__link:hover {
  color: #646883;
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */