@import './variables';
@import './index';
@import './mixins';
@import './layout/header';
@import './layout/footer';
@import './components/postCard';

#errorMessage {
  color: red;
}
.maincontent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mailto {
  margin: 0 30px 0 0;
  text-decoration: none;
  font-size: large;
  color: black;
  &:hover {
    color: lighten($tertiaryColor, 10%);
    text-decoration-line: underline;
  }
}

.body {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
  box-shadow: $mediumShadow;
  width: 70%;
  height: 700px;
  margin-bottom: 20px;
  position: relative;
}

.tabs-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  box-shadow: $lightShadow;
  background: $secondaryColor;
  color: grey;
  font-size: large;
  cursor: pointer;
  transition: all 200ms ease-out;
}

.active-tabs {
  background: $tertiaryColor;
  color: white;
  width: 60%;
  font-size: xx-large;
}
.forms-block {
  width: 100%;
  margin: 20px 0;
}
.connection-form {
  width: 100%;
  display: none;
}

.active-form {
  width: 100%;
  display: block;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textarea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  width: 50%;
  border-radius: 10px;
}

input {
  outline: none;
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: $lightShadow;
  height: 25px;
  font-size: large;
  text-align: center;
  background: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  text-align: center;
  width: 250px;
  height: 75px;
  font-size: 25px;
  background: $tertiaryColor;
  color: white;
  margin: 25px;
  border: 0px solid black;
  border-radius: 50px;
  box-shadow: $mediumShadow;
  position: absolute;
  bottom: 0;
  transform: scale(1);
  transition: all 150ms ease-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    background: lighten($tertiaryColor, 10%);
  }
}

.unlocked {
  position: relative;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 150px;
  &__sidenav {
    position: fixed;
    left: 10px;
    top: 170px;
  }
}

.postBlock {
  margin: 30px;
  width: 60%;
  background: $secondaryColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid lightgray;
  border-radius: 25px;
  box-shadow: $lightShadow;
}

.textArea {
  font-size: larger;
}
