@keyframes heart-click {
  0% {
    transform: scaleX(1) scaleY(1) translateY(0);
  }
  // 20% {
  //   transform: scaleX(1.05) scaleY(0.66) translateY(-10px);
  // }
  33% {
    transform: scaleX(1.33) scaleY(0.4) translateY(-20px);
  }
  45% {
    transform: scaleX(1) scaleY(1) translateY(0);
  }
  60% {
    transform: translateY(-4px);
  }
  72% {
    transform: translateY(0);
  }
  87% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
