.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-bottom: 2px solid grey;
  box-shadow: 0 6px 10px grey;
}

.Maintitle {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
}
